<!DOCTYPE html>
<html>
<head>
  <title>TwitterRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

#todo handle the case of denial from twitter
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
          <li ><%= link_to "Sign out", signout_path%>  </li>
      <%end %>
    </ul>
    <h3 class="text-muted">Twitter Client</h3>
  </div>

  <h3 class="text-muted"></h3>

  <% if flash[:error] -%>
      <p class='error'><%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p>
  <% end -%>

  <div class="jumbotron">
    <% if current_user %>
          <%= yield %>
    <% else %>
        <p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>
    <% end %>

  </div>

  <div class="footer">
    <p>© Company 2014</p>
  </div>

</div>

</body>
</html>
